body {
	width: 300px;
	min-height: 140px;
	border-radius: 4px;
	padding: 10px;
	padding-bottom: 0;
	box-sizing: border-box;
}
.item {
	margin-bottom: 16px;
}
#deal, #recover, #copy, #export {
	font-size: 14px;
	background-color: transparent;
	border-radius: 4px;
	outline: none;
	transition: all .3s ease;
	padding: 6px 8px;
}
#deal:hover, #recover:hover, #copy:hover, #export:hover {
	color: #fff;
}
#deal, #copy {
	border: 1px solid #39b54a;
	color: #39b54a;
}
#deal:hover, #copy:hover {
	background-color: #39b54a;
}
#recover, #export {
	border: 1px solid #0081ff;
	color: #0081ff;
}
#recover:hover, #export:hover {
	background-color: #0081ff;
}
#proj {
	text-decoration: underline;
	font-style: italic;
}
#ans {
	color: #e54d42;
	font-size: 14px;
	margin: 8px 0;
	line-height: 1.4;
}